<div class="row" style="padding:0; margin-top: 30px; margin-bottom: 30px;">
  <div class="col-12" style="padding:0;" >

    <div class="row">
      <div class="col-12 listaAlbuns">
        {{title}}
      </div>
    </div>

    <div class="row" style="margin-top: 20px; padding: 0 0 0 7px;">
        <app-album [album]="album" *ngFor="let album of albuns;"></app-album>
    </div>
    <div class="row">
      <div class="col-12 center">
        <a href="#" class="carregandoButton">Carregando...</a>
      </div>
    </div>

  </div>
</div>

