<div class="col-6-5 col-lg-2-5 album-div" style="padding: 0;margin-right: 18px; margin-bottom: 25px; height: 250px">

  <div class="row" style="text-align: center; padding: 0 0 0 4px;">
    <div class="col-12" style="padding: 0">
      <img class="album-image" src="{{album.images[1].url}}">
    </div>
    <div class="col-12 paddingTextAlbum" style="color:#fafafa; margin-top: 7px;">
      {{album.name}}
    </div>
    <div class="col-12 paddingTextAlbum" style="color:#999999; padding-top: 0">
      {{album.artists[0].name}}
    </div>
  </div>
</div>
